h1 {
  font-family: "Press Start 2P", cursive;
  color: #ffbaaa;
  background-color: #cc4b09;
  outline: black;
  padding: 20px;
  border-style: dotted;
  border-radius: 20px;
}

header {
  border-color: black;
  border-style: solid;
  border-radius: 20px;
}

body {
  background-color: #5d94fb;
  color: white;
  /* color: #dbfcff; */
  text-align: center;
  /* font-family: "Kanit", sans-serif; */
  font-family: "Yatra One", cursive;
  /* font-style: italic; */
  font-size: 20px;
}

.circle {
  height: 40px;
  width: 40px;
  background-color: #000000;
  border-radius: 50%;
  display: inline-block;
  text-align: center; /* text-align to centralise text horizontally */
  line-height: 40px; /* line height to centralise text vertically */
  color: #000000;
}

#contentMiddleUpper {
  margin: 10px;
  border-color: black;
  border-style: solid;
  border-radius: 20px;
}

#question {
  display: block;
}

#contentMiddleLower {
  padding: 10px;
  border-color: black;
  border-style: solid;
  border-radius: 20px;
}

#contentMiddleBottom {
  padding: 5px;
  border-color: black;
  border-style: solid;
  border-radius: 20px;
}

#oneOption {
  background-color: #ff6060;
}

#twoOption {
  background-color: #fabed4;
}

#threeOption {
  background-color: #d3d3d3;
}

#fourOption {
  background-color: #cc9e48;
}

#fiveOption {
  background-color: #aaffc3;
}

#sixOption {
  background-color: #ffd580;
}
